<div class= "avatar" >
  <img src="https://avatars1.githubusercontent.com/u/64582040?v=4">
</div>   
   <div class="row personalInfo" >
        <h1>{{currentUser.name}}</h1>
        <p>| {{currentUser.bio}} |</p>
        <p>{{currentUser.location}}</p>
    </div>    
        <table>
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Day of Creation</th>
            </tr>
            </thead>
              <tbody>              
                 <tr *ngFor="let repo of repos">
                    <td>{{repo.name | titlecase}}</td>
                    <td style="width: 50%">{{repo.description}}</td>                
                    <td>{{repo.created_at | date}}</td>
                  </tr>
              </tbody>
        </table>              
        
    

    
        
            
    


